.main {
  min-height: 100vh;
  min-width: 100vh;
  background: rgb(147,21,21);
  background: radial-gradient(circle, rgba(147,21,21,1) 0%, rgba(199,13,17,1) 38%, rgba(164,14,14,0.9615196420365021) 100%);
}
